# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Data Folder
# data/
data/cicids17
data/nsl_kdd
data/iotid20
data/iotbotnet

*.npy
#Ignore model chkpoint Folder
chk/
wandb/
weights_*/
weights/

#Plot folders hidden for now
loss_plot/
auc_plot/
dist_plot/
perf_plot/

#Temporary Scripts
scripts/

#Backup Results
*_bak.*
log_bak
bak/
perf_results_bak/

#Perf Results
# perf_results/

#ETC
kfold/
.vscode/

#Ignore CIC
*_cic.*
