# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Data Folder
# data/
data/cicids17

#Ignore model chkpoint Folder
chk/
wandb/
weights_*/
loss_plot/
auc_plot/
train_auc.txt
