# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Data Folder
# data/
data/cicids17
data/nsl_kdd
data/iotid20
data/iotbotnet

#Ignore model chkpoint Folder
chk/
wandb/
weights_*/

#Plot folders hidden for now
loss_plot/
auc_plot/

#Temporary Scripts
train_cic*.sh
eval_cic*.sh

#Backup Results
*_bak.*
log_bak

#Perf Results
perf_results/